.panel {
  //height: 800px;
  padding: 50px;
}

.panel-gray {
  background: #f0f0f0;
}

.panel-contact {
  background: #41404c;
}

.nav-bar {
  width: 1100px;
}

.banner {
  height: 600px;

  //-webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
  //filter: grayscale(100%);

  background:

    /* top, transparent red, faked with gradient */
    linear-gradient(
        rgba(#000000, 0.75),
        rgba(#000000, 0.75)
    ),

    /* bottom image */
    url(https://images.pexels.com/photos/908284/pexels-photo-908284.jpeg?auto=compress&cs=tinysrgb&h=650&w=940);

  background-size: cover;
  background-position: center bottom;

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}


.fnt-roboto {
  font-family: 'Roboto', sans-serif;
}

.fnt-lato {
  font-family: 'Lato', sans-serif;
}

.bold {
  font-weight: bold;
}

.black {
  font-weight: 900;
}

.clickable {
  cursor: pointer;
}

.skill-header {
  font-size: 20px;
  font-weight: bold;
}

.skill-list {
  text-align: left;
}

.see-more {

}

.panel-content {
  width: 800px;
  margin: 30px auto 0;
}


.job {

  .job-img {
    width: 300px;
    height: 250px;
    border-radius: 15%;
    object-fit: contain;

    border: 2px solid gray;
  }

  .job-info {
    width: 500px;
    text-align: left;
  }
}

.project {
  margin-bottom: 20px;
}

.project-img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 15%;
}

.life-photo {
  width: 250px;
  height: 250px;
  object-fit: cover;

  margin: 5px;
}

.contact-item {
  display: flex;
  align-items: center;
}

.contact-info {
  color: white;
}

.contact-icon {
  color: white;
  font-size: 28px;

  &:hover {
    color: grey;
  }
}

.copyright {
  color: #7c7c8b;
  font-size: 11px;
}

.ta-center {
  text-align: center;
}
