@import "variables";
@import "mixins";

.panel {
  padding: 50px 50px 25px;
  background: $c-white;
}

.panel-gray {
  background: $c-light-gray;
}

.panel-contact {
  background: $c-dark-gray;
}

.panel-header {
  font-size: 60px;
  text-align: center;

  @media screen and (max-width: $xs) {
    font-size: 30px;
  }
}

.contact-header {
  font-size: 40px;
  text-align: center;
  color: $c-white;
}

.panel-content {
  margin: 30px auto 0;
  max-width: 1000px;
}

.see-more {
  margin-top: 25px;

  &:hover {
    text-decoration: underline;
  }
}

.nav-bar {
  width: 100%;
  margin-top: 30px;
  margin-right: 30px;
  color: $c-white;
  font-size: 14px;
}

.banner {
  height: 600px;

  @media screen and (max-width: $xs) {
    height: 450px;
  }

  // Makes img black and white
  //-webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
  //filter: grayscale(100%);

  background: /* top, transparent red, faked with gradient */
    linear-gradient(
        rgba(#000000, 0.75),
        rgba(#000000, 0.75)
    ),
      /* bottom image */
    url(https://images.pexels.com/photos/908284/pexels-photo-908284.jpeg?auto=compress&cs=tinysrgb&h=650&w=940);
  background-size: cover;
  background-position: center bottom;
}

.banner-title {
  color: $c-white;

  @include fluid-type(font-size, $xs, $lg, 30px, 100px);
}

.banner-subtitle {
  color: $c-white;
  font-style: italic;
  font-family: 'Georgia', serif;

  @include fluid-type(font-size, $xs, $lg, 18px, 24px);
}

.personal-pic {
  border-radius: 50%;
  height: 200px;
  width: 200px;
  object-fit: cover;
}

.about-me {}

.skill-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  margin-left: 20px;
  margin-right: 20px;

  // Prevent star rating from growing/shrinking as window resizes
  app-star-rating {
    flex: 0 0 auto;
  }
}

.job {
  .job-img {
    height: 250px;
    border-radius: 15%;
    object-fit: contain;

    border: 2px solid $c-dark-gray;
  }

  .job-info {
    text-align: left;

    .job-title {
      font-size: 28px;
      font-weight: bold;
      color: $c-main-blue;
      margin: 10px 0;
    }
    .job-position {
      font-size: 20px;
      color: $c-main-pink;
    }
  }
}

.project {
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;

  &:nth-child(odd) {
    flex-direction: row-reverse;
  }
}

.project-section {
  margin: 0 10px;
}

.project-title {
  font-size: 28px;
  font-weight: bold;
  color: $c-main-blue;
  margin: 10px 0;
}

.project-img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 15%;
}

.my-life {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 10px;
  align-items: stretch;
}

.life-photo {
  height: 250px;
  width: 100%;
  object-fit: cover;
}

.contact-options {
  margin-bottom: 30px
}

.contact-item {
  display: flex;
  align-items: center;

  color: $c-white;

  cursor: pointer;

  &:hover {
    color: $c-light-gray;
  }

  .contact-info {
  }

  .contact-icon {
    font-size: 28px;
    margin-right: 10px;
  }
}

.copyright {
  color: $c-medium-gray;
  font-size: 11px;
}
