<div class="homepage">
  <app-page-banner title="Kevyn Jaremko" [subtitleList]="SUBTITLES"></app-page-banner>

  <div class="panel" appFadeInOnScroll>
    <div class="panel-header">Who Am I?</div>

    <div class="panel-content">
      <div fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between" fxLayoutGap="20px"
           fxLayout="column" fxLayoutAlign="flex-start center"
      >
        <img class="personal-pic" src="https://kmj22.github.io/portfolio-site/img/me.jpg"
             fxFlex="0 0 auto">

        <div class="about-me body-text">
          <p>Hi- I'm Kevyn. I do full-stack software development. I graduated from The New Jersey Institute of
            Technology
            with a BS in Computer Science and a minor in Web & Information Systems. I'm currently leading the
            development of an upcoming social ecommerce platform, <a href="https://www.giftapart.com"
                                                                     target="_blank">Giftapart!</a>
          </p>

          <p>Throughout my degree and early career, my focus was on
            server-side development in languages such as Java, Python, and C++.
            I've since extended my front-end skills after becoming fluent with the Angular Framework. Because much
            of my
            knowledge (and enjoyment of programming) lies within concepts such as Data Structures, Algorithms, and
            OOP,
            I believe that I offer a unique and valuable perspective to full-stack development.</p>

          <p class="skills-header">Here are some of the skills I've been using recently:</p>
        </div>
      </div>

      <div class="skill-items">
        <div class="skill-item" *ngFor="let skill of SKILLS">
          <span class="skill-name">{{skill.name}}</span>
          <app-star-rating [rating]="skill.rating"></app-star-rating>
        </div>
      </div>


      <div fxLayout="row" fxLayoutAlign="flex-end" style="margin-top: 5vh;">
        <div class="app-btn" routerLink="/resume">More about my skills</div>
      </div>
    </div>
  </div>

  <div class="panel" appFadeInOnScroll>
    <div class="panel-header">Giftapart, Lead Software Engineer</div>

    <div class="panel-content">
      <!--<div class="current-job-title">Current Employment- Giftapart, Director of Software Development</div>-->

      <img class="main-img" src="http://localhost:4200/assets/images/gapbanner.jpg">

      <div class="current-job-desc body-text">
        <p *ngFor="let paragraph of EMPLOYERS[0].description">{{paragraph}}</p>
      </div>

      <div style="margin-top: 5vh" class="current-job-title">I've also worked with...</div>

      <div class="employers-preview">
        <a *ngFor="let employer of EMPLOYERS | slice:1" routerLink="/resume" [fragment]="employer.url_slug">
          <div class="employer-preview"><img [src]="employer.image"></div>
        </a>
      </div>

      <div style="text-align: right; margin-top: 5vh">
        <div class="app-btn" routerLink="/resume">See my full resume</div>
      </div>
    </div>

    <div class="panel-content" *ngIf="false">

      <div class="job-history" fxLayout="column" fxLayoutGap="20px">
        <div class="job"
             fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between" fxLayoutAlign.xs="flex-start"
             fxLayoutGap.gt-xs="30px"
             *ngFor="let employer of EMPLOYERS">
          <img class="job-img" [src]="employer.image" fxFlex="0 1 300px">

          <div class="job-info" fxFlex>
            <div class="job-title">{{employer.name}}</div>
            <div class="job-position">{{employer.job_title}}, {{employer.start_date | date:'MMM y'}} -
              {{(employer.end_date | date:'MMM y') || 'Present'}}
            </div>
            <p class="job-description body-text" *ngFor="let paragraph of employer.description | slice:0:3">
              {{paragraph}}</p>
          </div>
        </div>
      </div>

      <div fxLayout="row" fxLayoutAlign="flex-end">
        <div class="app-btn" routerLink="/resume">See my full resume</div>
      </div>

    </div>
  </div>

  <div class="panel" appFadeInOnScroll>
    <div class="panel-header">Side Project- Video Game Design</div>

    <div class="panel-content">
      <div class="project">
        <img class="project-img" [src]="project.image">
        <!--<div class="project-title">{{project.name}}</div>-->
        <!--<div class="">-->
        <!--<p class="body-text" *ngFor="let paragraph of project.description | slice:0:3">-->
        <!--{{paragraph}}-->
        <!--&lt;!&ndash;<a routerLink="/projects">read more...</a>&ndash;&gt;-->
        <!--</p>-->
        <!--</div>-->

        <div class="body-text">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore
            magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
            commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
            est laborum.
          </p>

          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore
            magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
            commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
            est laborum.
          </p>
        </div>
      </div>

      <div fxLayout fxLayoutGap="10px">
        <div>more</div>
        <div>pics</div>
        <div>here</div>
      </div>

      <div fxLayout="row" fxLayoutAlign="flex-end" style="margin-top: 5vh;">
        <div class="app-btn" routerLink="/projects">More of my projects</div>
      </div>
    </div>
  </div>

  <div class="panel" appFadeInOnScroll>
    <div class="panel-header">Outside of the Office</div>

    <div class="panel-content">
      <div class="my-life">
        <img class="life-photo" *ngFor="let img of SELF_PICS; let idx = index"
             [src]="img" appImageThumbnail [album]="SELF_PICS" [index]="idx">
      </div>

      <div fxLayout="row" fxLayoutAlign="flex-end" style="margin-top: 5vh;">
        <div class="app-btn" routerLink="/about">Learn about me</div>
      </div>
    </div>
  </div>

  <app-contact-me-panel></app-contact-me-panel>

</div>
