<div class="homepage">
  <app-page-banner title="Kevyn Jaremko" [subtitleList]="SUBTITLES"></app-page-banner>

  <div class="panel" appFadeInOnScroll>
    <div class="panel-header">Who Am I?</div>

    <div class="panel-content">
      <div fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between" fxLayoutGap="30px"
           fxLayout="column" fxLayoutAlign="flex-start center"
      >
        <img class="personal-pic" [src]="SELF_PORTRAIT" fxFlex="0 0 auto">

        <div class="about-me body-text">
          <p>Hi- I'm Kevyn. I do full stack software development.</p>

          <p>I'm currently the lead software engineer of an upcoming social e-commerce platform,
            <a [href]="GIFTAPART_URL" target="_blank">Giftapart</a>!
          </p>

          <p>
            My greatest strength is server side development (particularly with Java/Spring/Hibernate), but more recently
            I've become proficient with front-end development through extensive use of the Angular Framework. Now I'm
            comfortable working just about anywhere on the development stack.
          </p>

          <p>I'm also an avid gamer and an enthusiast game developer. I go outside sometimes too- I especially enjoy
            hiking in the warmer months.</p>

          <p>
            I love new challenges. Feel free to <a href="mailto:kevynjaremko@gmail.com" target="_blank">get in touch</a>,
            and we can discuss your project needs. Whether it's a new website, a server-side API, or something in
            between, I'm confident that I can help.
          </p>

          <p class="skills-header">Here are some of the skills I've been using recently:</p>
        </div>
      </div>

      <div class="skill-items" ngClass.gt-xs="lg">
        <div class="skill-item" *ngFor="let skill of SKILLS">
          <span class="skill-name">{{skill.name}}</span>
          <app-star-rating [rating]="skill.rating"></app-star-rating>
        </div>
      </div>

      <div class="see-more-wrapper">
        <a class="app-btn" routerLink="/resume">More about my skills</a>
      </div>
    </div>
  </div>

  <div class="panel" appFadeInOnScroll>
    <div class="panel-header">Giftapart, Lead Software Engineer</div>

    <div class="panel-content">
      <img class="current-employer-img" [src]="GIFTAPART_IMG"
           appImageThumbnail [album]="GIFTAPART_IMG"
      >
      <div class="body-text">
        <p>
          <a [href]="GIFTAPART_URL" target="_blank">Giftapart</a> is an e-commerce startup that hopes to transform
          the way we gift. I’ve been part of the team from the first line of code, originally hired as a backend
          Java/Spring developer. Since then, I’ve taken on many different roles and challenges.
        </p>

        <p>
          I’m currently leading development of the frontend website and our backend APIs. I’m also in charge of ensuring
          our users can search for products from over 100 different retailers, as well as keeping our servers up and
          running.
        </p>

        <p>
          There’s no shortage of things that can go wrong, which means every day has a new challenge to overcome. I’d be
          lying if I said it was easy, but I’m learning a ton.
        </p>
      </div>

      <div class="subtitle">I've also worked with...</div>

      <div class="employers-preview">
        <a *ngFor="let employer of EMPLOYERS | slice:1" routerLink="/resume" [fragment]="employer.url_slug">
          <div class="employer-preview"><img [src]="employer.image"></div>
        </a>
      </div>

      <div class="see-more-wrapper">
        <a class="app-btn" routerLink="/resume">See my full resume</a>
      </div>
    </div>
  </div>

  <div class="panel" appFadeInOnScroll>
    <div class="panel-header">Side Project- Video Game Design</div>

    <div class="panel-content">
      <div class="project">
        <img class="project-img" [src]="GAMEPLAY_IMG"
             appImageThumbnail [album]="GAMEPLAY_IMG"
        >
        <div class="body-text">
          <p>
            <a href="https://kevynthejar.itch.io/even-heroes-die" target="_blank">Even Heroes Die</a> is a 2D platforming game about a hero who is slowly dying. The hero will come across various
            cures to extend his life, but each comes with its own adverse side effects. Players must balance these
            stacking side effects and budget their time between preparation and exploration in order to survive.
          </p>

          <p>You can play the demo and learn more about the project <a href="https://kevynthejar.itch.io/even-heroes-die" target="_blank">here</a>.</p>

          <p>This is my own independent project I've been working on in my spare time. I'm developing it with Game Maker
            Studio.</p>
        </div>


      </div>

      <!--<div fxLayout fxLayoutGap="10px">-->
      <!--<div>more</div>-->
      <!--<div>pics</div>-->
      <!--<div>here</div>-->
      <!--</div>-->

      <div class="see-more-wrapper">
        <a class="app-btn" routerLink="/projects">More of my projects</a>
      </div>
    </div>
  </div>

  <div class="panel" appFadeInOnScroll>
    <div class="panel-header">Outside of the Office</div>

    <div class="panel-content">
      <div class="my-life" [ngClass.gt-xs]="'lg'">
        <div class="life-photo"
             *ngFor="let img of SELF_PICS; let idx = index"
             [style.background-image]="'url(' + img + ')'"
             appImageThumbnail [album]="SELF_PICS" [index]="idx">
        </div>
      </div>

      <div class="see-more-wrapper">
        <a class="app-btn" routerLink="/about">Learn about me</a>
      </div>
    </div>
  </div>

  <app-contact-me-panel></app-contact-me-panel>
</div>
