<div>
  <div class="banner" fxLayout="column nowrap" fxLayoutAlign="center center">
    <div class="fnt-lato bold nav-bar" fxHide.xs fxLayout="row nowrap" fxLayoutAlign="flex-end" fxLayoutGap="30px"
         style="margin-top:30px; margin-right: 30px; color: white; font-size: 14px;">
      <div class="nav-option clickable">HOME</div>
      <div class="nav-option clickable">RESUME</div>
      <div class="nav-option clickable">PROJECTS</div>
      <div class="nav-option clickable">ABOUT ME</div>
      <div class="nav-option clickable">CONTACT</div>
    </div>

    <div fxLayout="column nowrap" fxLayoutAlign="center center" fxFlex>
      <div style="color: white; font-size: 8vw;" class="fnt-roboto bold">KEVYN JAREMKO</div>

      <div style="color: white; font-size: 24px;" class="subtitle" fxLayout="row nowrap" fxLayout.xs="column"
           fxLayoutAlign="center"
           fxLayoutGap="10px">
        <!--<div class="subtitle-item">Software Engineer.</div>-->
        <!--<div class="subtitle-item">Full Stack Developer.</div>-->
        <!--<div class="subtitle-item">Game Designer.</div>-->
        <!--<div class="subtitle-item">Problem Solver.</div>-->
        <div class="subtitle-item" *ngFor="let x of [1,2,3,4]">Thing {{x}}</div>
      </div>
    </div>
  </div>

  <div class="panel panel-gray fnt-lato" style="text-align: center;">
    <div class="fnt-lato" style="font-size: 60px;">Who Am I?</div>

    <div style="margin: 30px auto 0;">
      <div fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="20px"
           fxLayout.xs="column" fxLayoutAlign.xs="flex-start center"
      >
        <img src="https://kmj22.github.io/portfolio-site/img/me.jpg"
             style="border-radius: 50%; height: 200px; width: 200px; object-fit: cover;" fxFlex="0 0 auto">

        <div class="fnt-lato" style="font-size: 18px; text-align: left;">
          <p>Hi- I'm Kevyn. I do full-stack software development. I graduated from The New Jersey Institute of
            Technology
            with a BS in Computer Science and a minor in Web & Information Systems. I'm currently leading the front-end
            development of an upcoming ecommerce platform, <a href="www.giftapart.com" target="_blank">Giftapart!</a>
          </p>

          <p>Throughout my degree and early career, my focus was on
            server-side development in languages such as Java, Python, and C++.
            I've since extended my front-end skills after becoming fluent with the Angular Framework. Because much of my
            knowledge (and enjoyment of programming) lies within concepts such as Data Structures, Algorithms, and OOP,
            I believe that I offer a unique and valuable perspective to full-stack development.</p>

          <p>Here are some of the skills I've been using recently:</p>
        </div>
      </div>

      <div fxLayout="row wrap" fxLayoutAlign="space-between" fxLayoutGap.gt-xs="40px" style="text-align: left;"
           fxLayout.xs="column">
        <div fxFlex>
          <div class="skill-item">
            <span class="skill-name">Java</span>
            <app-star-rating [rating]="5"></app-star-rating>
          </div>

          <div class="skill-item">
            <span class="skill-name">JSON</span>
            <app-star-rating [rating]="5"></app-star-rating>
          </div>

          <div class="skill-item">
            <span class="skill-name">AJAX / API Calls</span>
            <app-star-rating [rating]="5"></app-star-rating>
          </div>

          <div class="skill-item">
            <span class="skill-name">Game Maker Studio</span>
            <app-star-rating [rating]="5"></app-star-rating>
          </div>

          <div class="skill-item">
            <span class="skill-name">Angular (2+)</span>
            <app-star-rating [rating]="4.5"></app-star-rating>
          </div>

          <div class="skill-item">
            <span class="skill-name">HTML(5)</span>
            <app-star-rating [rating]="4.5"></app-star-rating>
          </div>

          <div class="skill-item">
            <span class="skill-name">Spring Framework (Spring Boot)</span>
            <app-star-rating [rating]="4"></app-star-rating>
          </div>

          <div class="skill-item">
            <span class="skill-name">SQL (Postgres)</span>
            <app-star-rating [rating]="4"></app-star-rating>
          </div>

          <div class="skill-item">
            <span class="skill-name">JPA / Hibernate</span>
            <app-star-rating [rating]="4"></app-star-rating>
          </div>
        </div>

        <div fxFlex>
          <div class="skill-item">
            <span class="skill-name">JavaScipt</span>
            <app-star-rating [rating]="4"></app-star-rating>
          </div>

          <div class="skill-item">
            <span class="skill-name">RxJS (Observables)</span>
            <app-star-rating [rating]="4"></app-star-rating>
          </div>

          <div class="skill-item">
            <span class="skill-name">CSS</span>
            <app-star-rating [rating]="4"></app-star-rating>
          </div>

          <div class="skill-item">
            <span class="skill-name">SASS / SCSS</span>
            <app-star-rating [rating]="3.5"></app-star-rating>
          </div>

          <div class="skill-item">
            <span class="skill-name">Python</span>
            <app-star-rating [rating]="3"></app-star-rating>
          </div>

          <div class="skill-item">
            <span class="skill-name">MongoDB</span>
            <app-star-rating [rating]="3"></app-star-rating>
          </div>

          <div class="skill-item">
            <span class="skill-name">Bootstrap</span>
            <app-star-rating [rating]="3"></app-star-rating>
          </div>

          <div class="skill-item">
            <span class="skill-name">jQuery</span>
            <app-star-rating [rating]="2"></app-star-rating>
          </div>

          <div class="skill-item">
            <span class="skill-name">ElasticSearch</span>
            <app-star-rating [rating]="2"></app-star-rating>
          </div>
        </div>
      </div>


      <div fxLayout="row" fxLayoutAlign="flex-end">
        <div class="see-more clickable">More about my skills...</div>
      </div>
    </div>
  </div>

  <div class="panel" style="text-align: center;">
    <div class="fnt-lato" style="font-size: 60px;">Things I've Done</div>

    <div class="panel-content">

      <div class="job-history" fxLayout="column" fxLayoutGap="20px">
        <div class="job" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between" fxLayoutAlign.xs="flex-start"  fxLayoutGap.gt-xs="30px" *ngFor="let i of 3 | loopRange">
          <img class="job-img" src="https://cdn.newswire.com/files/x/f2/dd/7f2033d2f512149579942f3b5441.png" fxFlex="0 1 300px">

          <div class="job-info fnt-lato" fxFlex>
            <div class="job-title">Giftapart</div>
            <div class="job-position">Director of Front End Development</div>
            <p class="job-description">My team works on building amazing user experiences for Google Cloud users. I
              helped
              carry out the top-to-bottom redesign and implementation of Cloud Datastore's UI, and currently lead the
              front-end team of Google's Cloud SQL product. March 2017, we launched our PostgreSQL offering – which
              increased Cloud SQL's total addressable market by ~40%.
            </p>
          </div>
        </div>
      </div>

      <div fxLayout="row" fxLayoutAlign="flex-end">
        <div class="see-more clickable fnt-lato">See my full employment history...</div>
      </div>

    </div>
  </div>

  <ng-container *ngIf="false">

    <div class="panel panel-gray fnt-lato">
      <div class="fnt-lato" style="font-size: 60px; text-align: center;">A Few Side Projects</div>

      <div class="panel-content">
        <div class="project" fxLayout="row" fxLayoutGap="30px" fxLayoutAlign="space-between">
          <img class="project-img" src="https://kmj22.github.io/portfolio-site/img/gameplay6.gif">
          <div class="project-info">
            <div class="project-title">Paper Mario - Fan-made Game</div>
            <div class="project-description">My team works on building amazing user experiences for Google Cloud users.
              I
              helped
              carry out the top-to-bottom redesign and implementation of Cloud Datastore's UI, and currently lead the
              front-end team of Google's Cloud SQL product. March 2017, we launched our PostgreSQL offering – which
              increased Cloud SQL's total addressable market by ~40%.
            </div>
          </div>
        </div>

        <div class="project" fxLayout="row" fxLayoutGap="30px" fxLayoutAlign="space-between">
          <div class="project-info">
            <div class="project-title">Paper Mario - Fan-made Game</div>
            <div class="project-description">My team works on building amazing user experiences for Google Cloud users.
              I
              helped
              carry out the top-to-bottom redesign and implementation of Cloud Datastore's UI, and currently lead the
              front-end team of Google's Cloud SQL product. March 2017, we launched our PostgreSQL offering – which
              increased Cloud SQL's total addressable market by ~40%.
            </div>
          </div>
          <img class="project-img" src="https://kmj22.github.io/portfolio-site/img/gameplay6.gif">
        </div>

        <div fxLayout="row" fxLayoutAlign="flex-end">
          <div class="see-more clickable">See more of my projects...</div>
        </div>
      </div>
    </div>

    <div class="panel fnt-lato">
      <div class="fnt-lato" style="font-size: 60px; text-align: center;">My Life</div>

      <div class="panel-content">
        <div class="my-life" fxLayout="row wrap">
          <img class="life-photo" *ngFor="let img of SELF_PICS" [src]="img">
        </div>

        <div fxLayout="row" fxLayoutAlign="flex-end">
          <div class="see-more clickable">More about me...</div>
        </div>
      </div>
    </div>

    <div class="panel panel-contact fnt-lato">
      <div class="fnt-lato" style="font-size: 40px; text-align: center; color: white;">Contact</div>

      <div class="panel-content">
        <div class="" fxLayout="row" fxLayoutAlign="center" fxLayoutGap="40px" style="margin-bottom: 30px">
          <div class="contact-item">
            <fa-icon [icon]="['fab', 'linkedin-in']" class="contact-icon"></fa-icon>
            <span class="contact-info">Linkedin</span>
          </div>
          <div class="contact-item">
            <fa-icon [icon]="['fab', 'github']" class="contact-icon"></fa-icon>
            <span class="contact-info">Github</span>
          </div>
          <div class="contact-item">
            <fa-icon [icon]="['fas', 'at']" class="contact-icon"></fa-icon>
            <span class="contact-info">Email</span>
          </div>
        </div>

        <div class="copyright ta-center">© 2018 Kevyn Jaremko. All rights reserved.</div>
      </div>
      <!--<img class="contact-icon" src="https://mbtskoudsalg.com/images/linkedin-icon-white-png-5.png">-->
      <!--<img class="contact-icon" src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/eb/Ei-sc-github.svg/200px-Ei-sc-github.svg.png">-->
    </div>
  </ng-container>

</div>
