@import "variables";
@import "mixins";

.see-more {
  margin-top: 25px;
}

.personal-pic {
  border-radius: 50%;
  height: 200px;
  width: 200px;
  object-fit: cover;
}

.about-me {
}

.project {
}

.project-section {
}

.project-title {
  font-size: 28px;
  font-weight: bold;
  color: $c-main-blue;
  margin: 10px 0;

  grid-area: title;
}

.project-img {
}

.project-description {
}

.project-img {
  display: block;
  margin: 0 auto;
  border-radius: 50px;
  width: 100%;
}

.my-life {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 10px;
  align-items: stretch;
  margin-bottom: 10px;
}

.life-photo {
  height: 250px;
  width: 100%;
  object-fit: cover;
}

.current-job-title {
  font-size: 28px;
  font-weight: bold;
  color: $c-main-blue;
  margin: 10px 0;
}

.employers-preview {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  margin-top: 15px;
  margin-bottom: -5px;

  .employer-preview {
    margin-right: 15px;
    margin-bottom: 15px;
  }
}

.employer-preview {
  box-shadow: 6px 3px 9px 1px #eaeaea;
  border-radius: 30px;
  padding: 20px 20px 15px;

  flex: 1;
  text-align: center;

  cursor: pointer;
  transition: box-shadow .3s;
  &:hover {
    box-shadow: 6px 3px 9px 4px #eaeaea;
  }

  img {
    mix-blend-mode: darken;
    @include fluid-type(height, $xs, $md, 50px, 75px);
  }
}

.main-img {
  display: block;
  margin: 0 auto;
  border-radius: 50px;
  max-width: 100%;
  width: 450px;
}
