@import "variables";

:host {
  display: block;
  width: 66vw;
  height: 66vh;
  background: black;

  @media screen and (max-width: $xs) {
    height: 100%;
    width: 100%;
  }
}

.modal-header {
  height: 35px;
}

.modal {
  height: calc(100% - 35px);
  width: 100%;

  img {
    object-fit: contain;
    width: 100%;
    height: 100%;
  }

  @media screen and (max-width: $xs) {
  }
}
