<div class="projects-page">
  <app-page-banner title="Projects" subtitle="Side stuff I've done."></app-page-banner>

  <div class="panel" *ngFor="let project of PROJECTS; let i = index" appFadeInOnScroll>
    <div class="panel-header">{{project.name}}</div>
    <div class="panel-content">
      <div class="project">
        <div class="project-image">
          <img [src]="project.image">
        </div>
        <p class="project-description" *ngFor="let paragraph of project.description">{{paragraph}}</p>
      </div>

      <div fxLayoutAlign="flex-end" *ngIf="false">
        <div class="app-btn">See More</div>
      </div>
    </div>
  </div>

  <div class="panel" appFadeInOnScroll>
    <div class="panel-header">(MORE COMING SOON)</div>
  </div>

  <app-contact-me-panel></app-contact-me-panel>
</div>
