@import "mixins";
@import "variables";

.page-description {
  @include fluid-type(font-size, $xs, $lg, 20px, 28px);
}

.skill-header {
  font-size: 20px;
  color: $c-main-pink;
  font-weight: bold;
  margin-bottom: 10px;
}

.skill-section {
  margin-bottom: 2vh;
}
