@import "variables";
@import "mixins";

.summary {
  //@include fluid-type(font-size, $xs, $lg, 20px, 28px);
}

.my-life {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  align-items: stretch;
  margin-bottom: 10px;

  &.lg {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 20px;
  }
}

.life-photo {
  padding-top: 100%;
  border-radius: 15%;
  background-size: cover;
}
