.mobile-header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 55px;
  padding: 0 10px;

  .app-icon {
    font-size: 25px;
  }
}

.sidenav-option {
  width: 100%;
  font-size: 26px;
  margin-bottom: 5px;
  }

.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 10; // keep the icon on top of other elements as they fade into the page

  transition: .1s opacity ease-in-out;
  &.hidden {
    opacity: 0;
  }
}
