<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <div style="width: 100vw; height: 100vh;">
      <div style="position: fixed">
        <div class="mobile-header">
          <fa-icon [icon]="['fas', 'times']" class="app-icon"
                   (click)="sidenav.toggle()"></fa-icon>
        </div>

        <div style="padding: 0 10px;" (click)="sidenav.close()">
          <button mat-button class="sidenav-option" routerLink="/">Home</button>
          <button mat-button class="sidenav-option" routerLink="/resume">Resume</button>
          <button mat-button class="sidenav-option" routerLink="/projects">Projects</button>
          <button mat-button class="sidenav-option" routerLink="/about">About Me</button>
          <button mat-button class="sidenav-option" routerLink="/contact">Contact</button>
        </div>
      </div>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <div fxHide.gt-xs class="mobile-header" (click)="sidenav.toggle()">
      <fa-icon [icon]="['fas', 'bars']" class="app-icon"></fa-icon>
    </div>

    <div *ngIf="showScrollButton" class="app-icon scroll-to-top" (click)="scrollToTop()">
      <fa-icon [icon]="['fas', 'angle-double-up']"></fa-icon>
      <!--<span>Back to Top</span>-->
    </div>

    <router-outlet></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>

