@import "variables";

:host {
  width: 100%;
  margin-top: 30px;
  margin-right: 30px;
}

.nav-bar {
  color: $c-white;
  font-size: 14px;
  &:hover {
    color: $c-medium-gray;
  }
}
.nav-option {
  &:hover {
    color: $c-white;
  }
}
.nav-active {
  font-style: italic;
}
