<div class="bold nav-bar"
     fxHide.xs fxLayout="row nowrap" fxLayoutAlign="flex-end" fxLayoutGap="30px">
  <a class="nav-option clickable" routerLink="/" routerLinkActive="nav-active" [routerLinkActiveOptions]="{exact: true}">HOME</a>
  <a class="nav-option clickable" routerLink="/resume" routerLinkActive="nav-active">RESUME</a>
  <a class="nav-option clickable" routerLink="/projects" routerLinkActive="nav-active">PORTFOLIO</a>
  <a class="nav-option clickable" routerLink="/about" routerLinkActive="nav-active">ABOUT ME</a>
<!--  <a class="nav-option clickable" href="https://blog.kevynjaremko.com" target="_blank">BLOG</a>-->
  <a class="nav-option clickable" routerLink="/contact" routerLinkActive="nav-active">CONTACT</a>
</div>
