@import "variables";
@import "mixins";

$banner-home: 'https://images.pexels.com/photos/908284/pexels-photo-908284.jpeg?auto=compress&cs=tinysrgb&h=650&w=940';
$banner-resume: 'https://images.pexels.com/photos/590016/pexels-photo-590016.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260';
$banner-projects: 'https://images.pexels.com/photos/590016/pexels-photo-590016.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260';
$banner-about: 'https://images.pexels.com/photos/590016/pexels-photo-590016.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260';
$banner-contact: 'https://images.pexels.com/photos/590016/pexels-photo-590016.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260';

.banner {
  height: 600px;
}

.banner-title {
  color: $c-white;
  text-align: center;

  @include fluid-type(font-size, $xs, $lg, 50px, 100px);
}

.banner-subtitle {
  color: $c-white;
  font-style: italic;
  font-family: 'Georgia', serif;

  @include fluid-type(font-size, $xs, $lg, 18px, 24px);
}

// Show different banner based on page
:host-context(.homepage) {
  .banner{
    @include jumbotron($banner-home);
  }
}
:host-context(.resume-page) {
  .banner {
    @include jumbotron($banner-resume);
  }
}
:host-context(.projects-page) {
  .banner {
    @include jumbotron($banner-projects);
  }
}
:host-context(.about-page) {
  .banner {
    @include jumbotron($banner-about);
  }
}
:host-context(.contact-page) {
  .banner {
    @include jumbotron($banner-contact);
  }
}
