<div class="panel panel-contact">
  <div class="contact-header">Contact</div>

  <div class="panel-content">
    <div class="contact-options" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center center"
         fxLayoutGap.gt-xs="40px">
      <a class="contact-item" [href]="LINKEDIN">
        <fa-icon [icon]="['fab', 'linkedin-in']" class="contact-icon"></fa-icon>
        <span class="contact-info">Linkedin</span>
      </a>
      <a class="contact-item" [href]="GITHUB">
        <fa-icon [icon]="['fab', 'github']" class="contact-icon"></fa-icon>
        <span class="contact-info">Github</span>
      </a>
      <a class="contact-item" [href]="EMAIL">
        <fa-icon [icon]="['fas', 'at']" class="contact-icon"></fa-icon>
        <span class="contact-info">Email</span>
      </a>
    </div>

    <div class="copyright ta-center">© {{START_DATE.getFullYear()}}-{{END_DATE.getFullYear()}} Kevyn Jaremko. All rights reserved.</div>
  </div>
</div>
