@import "variables";
@import "mixins";

.panel-contact {
  background: $c-dark-gray;
}

.contact-header {
  font-size: 40px;
  text-align: center;
  color: $c-white;
}

.contact-options {
  margin-bottom: 30px
}

a.contact-item {
  display: flex;
  align-items: center;

  color: $c-white;
  text-decoration: none;
  transition: .2s color ease-in-out;

  cursor: pointer;

  &:hover {
    color: $c-main-blue;
  }

  .contact-info {
  }

  .contact-icon {
    font-size: 28px;
    margin-right: 10px;
  }
}

.copyright {
  color: $c-medium-gray;
  font-size: 11px;
}
