@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  margin: 0;
}

.fnt-roboto {
  font-family: 'Roboto', sans-serif;
}

.fnt-lato {
  font-family: 'Lato', sans-serif;
}

.bold {
  font-weight: bold;
}

.black {
  font-weight: 900;
}

.clickable {
  cursor: pointer;
}

.ta-center {
  text-align: center;
}
