@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "variables";
@import "mixins";

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  overflow: scroll;
}

.body-text {
  font-size: 19px;
  line-height: 1.4;
}

.fnt-roboto {
  font-family: 'Roboto', sans-serif;
}

.fnt-lato {
  font-family: 'Lato', sans-serif;
}

.fnt-georgia {
  font-family: 'Georgia', serif;
  font-style: italic;

}

.bold {
  font-weight: bold;
}

.black {
  font-weight: 900;
}

.clickable {
  cursor: pointer;
}

.ta-center {
  text-align: center;
}

.app-btn {
  $height: 40px;
  $color: $c-main-pink;

  display: inline-block;
  height: $height;
  line-height: $height;

  color: $color;
  font-weight: bold;
  border: 2px solid $color;
  padding: 5px 20px;

  text-transform: uppercase;
  cursor: pointer;

  &:hover {
    background: $color;
    color: white;
  }
}

// Panels
.panel {
  padding: 50px 50px 25px;
  background: $c-white;

  &:nth-child(even) {
    background: $c-light-gray;
  }
}

.panel-gray {
  background: $c-light-gray;
}

.panel-header {
  font-size: 60px;
  text-align: center;

  @media screen and (max-width: $xs) {
    font-size: 30px;
  }
}

.panel-content {
  margin: 30px auto 0;
  max-width: 1000px;
}

.skill-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  margin-left: 20px;
  margin-right: 20px;

  // Prevent star rating from growing/shrinking as window resizes
  app-star-rating {
    flex: 0 0 auto;
  }
}

// Employment Styles
.job {
  max-width: 100vw;
  .job-img {
    height: 250px;
    border-radius: 15%;
    object-fit: contain;

    border: 2px solid $c-dark-gray;
  }

  .job-info {
    text-align: left;

    .job-title {
      font-size: 28px;
      font-weight: bold;
      color: $c-main-blue;
      margin: 10px 0;
    }
    .job-position {
      font-size: 20px;
      color: $c-main-pink;
    }
  }
}
