// Media Query Breakpoint Sizes
$xs: 480px;
$sm: 768px;
$md: 992px;
$lg: 1200px;

// Colors
$c-white: #FAFAFA;
$c-light-gray: #F4F4F4;
$c-medium-gray: #7C7C8B;
$c-dark-gray: #41404C;
$c-main-blue: #3581B8;
$c-main-pink: #EE4266;
//$c-main-pink: #FF5964;
//$c-sky-blue: #FCB07E;
//$c-wild-blue: #1B4079;
