<div class="contact-page">

  <app-page-banner title="Contact Me" subtitle="Reach out anytime. Let's see how I can help."></app-page-banner>

  <div class="panel">
    <div class="panel-header">I'm happy to help.</div>

    <div class="panel-content body-text">
      <p>I love new challenges.  I'm currently working full-time at Giftapart, but I'm happy to help your visions come to life as a freelance developer.  Feel free to get in touch, and we can discuss your needs and work towards making your dreams into a reality.</p>
    </div>

    <div fxLayoutAlign="flex-end">
      <div class="app-btn">CONTACT ME</div>
    </div>
  </div>

  <app-contact-me-panel></app-contact-me-panel>
</div>
